.btn{
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    background-color: red;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal .modal_content{
    background-color: #fefefe;
    margin:15% auto;
    padding: 20px;
    border: 1 solid #888;
    width: 80%;
    z-index: 2;
}
.modal .modal_content .close_modal_window{
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.modal_inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal_title{
    font-size: 25px;
    font-weight: bold;
}