.buttons{
display: flex;
justify-content: center;
column-gap: 30px;
}
.btn{
  display: inline-block;
  min-width:100px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  &:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
  }
}
.btn-secondary{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    &:hover {
      color: #fff;
      background-color: #c82333;
      border-color: #bd2130;
    }
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
  & .modal_content{
    box-sizing: border-box;
    max-width: 500px;
    margin:15% auto;
    border: 1 solid #888;
    border-radius: .3rem;
    width: 80%;
    z-index: 2;
    color: #fff;
    & .modal_header{
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.1);
      border-top-left-radius: .3rem;
      border-top-right-radius: .3rem;
      & .modal_title{
        font-size: 25px;
        font-weight: bold;
        line-height: 50px;
      }
      & .close_modal_window{
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        line-height: 50px;
        cursor: pointer;
      }
    }
    & .modal_body{
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      & .modal_text{
        font-size: 18px;
        font-weight: normal;
        text-align: center;
      }
      & .modal_buttons{
        margin-top: 15px; 
        display: flex;
        column-gap: 15px;
        & .modal_btn{
          color: #fff;
          background-color: rgba(0, 0, 0, 0.1);
          border-color: rgba(0, 0, 0, 0.1);
          &:hover {
            background-color: rgba(0, 0, 0, 0.3);
            border-color: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}
.bgc-red{
  background-color: #e74c3c;
  }
.bgc-blue{
  background-color: #0069d9;
}